html,body{
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.mainImageConatiner{
  width: 100dvw;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
}

.imageBox{
  flex: 1 0 300px;
    overflow: hidden;
}

.imageBox img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}